*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
header{
    background-color: black;
    color: rgb(252, 250, 247);
    text-align: center;
}
.content{
    background-color: black;
    color: rgb(252, 250, 247);
}

.article1{
    position: relative;
    width: 600px;
    left: 710px;
    top: -400px;
    text-align: right;

}
.article2{
    text-align: center;
}
.article3{
    position: relative;
    width: 600px;
    top: 100px;
    float: left;
}
footer{
    background-color: cadetblue;
    height: 40px;
    color: black;
    text-align: center;
    position: relative;    top: 10px;
}
